APP_CODE_PATH_HOST=../
APP_CODE_PATH_CONTAINER=/usr
API_WEB_URL=api.local.test
APP_WEB_URL=local.test

VOLUMES_DRIVER=local
NETWORKS_DRIVER=bridge

DATA_PATH_HOST=~/.js/data

COMPOSE_PROJECT_NAME=local

WORKSPACE_TIMEZONE=Africa/Lusaka

### API #################################################

STRAPI_DATABASE_CLIENT=mysql
STRAPI_DATABASE_HOST=mysql
STRAPI_DATABASE_PORT=27017
STRAPI_DATABASE_SRV=false
STRAPI_DATABASE_NAME=app
STRAPI_DATABASE_USERNAME=default
STRAPI_DATABASE_PASSWORD=secret
STRAPI_HOST_URL=strapi.local.test
STRAPI_DATABASE_SSL=false
STRAPI_DATABASE_AUTHENTICATION_DATABASE=admin

### MYSQL #################################################

MYSQL_VERSION=latest
MYSQL_DATABASE=${STRAPI_DATABASE_NAME}
MYSQL_USER=${STRAPI_DATABASE_USERNAME}
MYSQL_PASSWORD=${STRAPI_DATABASE_PASSWORD}
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### MARIADB ###############################################

MARIADB_VERSION=latest
MARIADB_DATABASE=${STRAPI_DATABASE_NAME}
MARIADB_USER=${STRAPI_DATABASE_USERNAME}
MARIADB_PASSWORD=${STRAPI_DATABASE_PASSWORD}
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d

### JENKINS ###############################################

JENKINS_HOST_HTTP_PORT=8090
JENKINS_HOST_SLAVE_AGENT_PORT=50000
JENKINS_HOME=./jenkins/jenkins_home

### WEBHOOK ###############################################

WEBHOOK_URL=webhook.local.test
WEBHOOK_DIR=./webhook/hooks

### MONGODB ###############################################

MONGODB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=${STRAPI_DATABASE_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${STRAPI_DATABASE_PASSWORD}
MONGO_INITDB_DATABASE=${STRAPI_DATABASE_NAME}

### MONGO-EXPRESS ###############################################

ME_URL=mongo.local.test
ME_CONFIG_MONGODB_SERVER=mongo
ME_CONFIG_BASICAUTH_USERNAME=default
ME_CONFIG_BASICAUTH_PASSWORD=secret
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
ME_CONFIG_MONGODB_AUTH_DATABASE=${STRAPI_DATABASE_AUTHENTICATION_DATABASE}
ME_CONFIG_MONGODB_AUTH_USERNAME=${STRAPI_DATABASE_USERNAME}
ME_CONFIG_MONGODB_AUTH_PASSWORD=${STRAPI_DATABASE_PASSWORD}

### ADMINER ###############################################
ADMINER_URL=adminer.local.test
ADMINER_HOST=mysql
ADMINER_DESIGN=galkaev

### TRAEFIK #################################################

TRAEFIK_HOST_HTTP_PORT=80
TRAEFIK_HOST_HTTPS_PORT=443
TRAEFIK_WEB_URL=monitor.local.test

### REDIS #################################################

REDIS_PORT=6379

### REDIS CLUSTER #########################################

REDIS_CLUSTER_PORT_RANGE=7000-7005

### REDISWEBUI #########################################
REDIS_WEBUI_URL=redis.local.test
REDIS_WEBUI_USERNAME=default
REDIS_WEBUI_PASSWORD=secret
REDIS_WEBUI_CONNECT_HOST=redis
REDIS_WEBUI_CONNECT_PORT=6379
REDIS_WEBUI_PORT=9987
