 
node_modules
.dockerignore
.env
.env.production
.env.staging
.gitignore
.prettierrc
.prettierrc.js
.eslintrc.json
database
dist
docker-compose.override.yml
docker-compose.yml
Dockerfile
graphqlconfig.yml
prisma.yml
README.md
.vscode
*.log
.idea
